/**
   * Card template for produce feed page.. 
   * I found this code on codepen
   *
   * @author markelrayes
   * @see https://codepen.io/markelrayes/pen/ZEGVBZm
   */


body {
    background-color: #f2f2f2;
    font-family: 'RobotoDraft', 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h5 {
    margin: 0px;
    font-size: 1.4em;
    font-weight: 700;
}

p {
    font-size: 12px;
}

#center {
    height: 30vh;
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
}

/* End Non-Essential  */

.property-card {
    height: 25em;
    width: 100%;
    margin-top: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    -webkit-box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
    box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}

/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */

/* Top Half of card, image. */

.property-card-image {
    height: 15em;
    width: 100%;
    padding: 1em 2em;
    position: Absolute;
    top: 0px;
    background-size: cover;
    background-repeat: no-repeat;
}


/* Bottom Card Section */

.property-card-description {
    background-color: #FAFAFC;
    width: 100%;
    position: absolute;
    bottom: 0em;
    padding: 0.5em 1em;
    text-align: center;
}
