.chat {
    background-color: rgb(82,215,19);
    height: 10vh;
    border: 1px solid black;
    margin: .5em .5em .5em .5em;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 25% 75%;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc; /*safari*/
    box-shadow:         3px 3px 5px 6px #ccc; /*chrome*/
}

.chat span {
    grid-column: 2 / span 1;
    line-height: 10vh;
    font-size: 20pt;
}

#chats .chat:nth-child(2n) {
    background-color: #fffdfd;
}

.chat img {
    grid-column: 1 / span 1;
    border-radius: 50%;
    height: 7vh;
    margin-left: 1em;
    margin-top: 1.5vh;
}

.chat :hover{
    background-color: grey;
}

#title {
    font-size: 16pt;
    text-align: center;
    margin-top: 3em;
    font-weight: bold;
    text-shadow: 4px 4px #ccc;
    margin-bottom: 3em;
  }