#chat_window {
    margin-top: 1em;
    height: 80vh;
    background-color: rgb(82,215,19);
    display: grid;
    align-content: center;
}   

#messages {
    height: 68vh;
    background-color: white;
    width: 95%;
    margin: auto;
    overflow: scroll;
}

#input {
    margin: auto;
    margin-top: 1em;
    width: 95%;
}

#input_field {
    width: 77%;
}
.message {
    margin-left: 1em;
}

.text {
    font-size: 18pt;
    margin-bottom: 0;
}

.meta {
    font-weight: bold;
}

h3 {
    margin-top: .5em;
    margin-left: .5em;
    margin-bottom: 0;
    font-size: 20pt;
}