.new_card_container, .edit_card_container, #confirmation {
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    margin-left: 10vw;
    margin-top: 10vw;
    width: 80vw;
    background-color: rgb(227, 227, 227);
    justify-content: center;
    height: 55%;
}

#confirmation {
    text-align: center;
    width: 55%;
    background-color: #9b9b9b;
    position: absolute;
    height: 25%;
    padding: 1em 1em 1em 1em;
}

.create-post {
    margin-top: 10px;
    display: flex;
    /* justify-content: center; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.create-post form {
    margin: 0 auto;
    display: initial;
}

.create-post textarea{
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
    height: 75px;
}

.create-post button.submit{
    margin-top: 1em;
    width: 50%;
    margin: 10px;
    border-radius: 10px;
    padding: 6px;
    border: 0;
    cursor: pointer;
}

.create-post button.close {
    cursor: pointer;
    position: absolute;
    right: 13%;
    background-color: white;
    border: none;
    font-size: 2em;
}

.create-post button.delete {
  cursor: pointer;
  position: absolute;
  right: 27%;
  background-color: white;
  border: none;
  font-size: 2em;
}

.create-post label{
    display: block;
    margin-top: 10px;
}

.create-post label.title_label { margin-top: 40%; }


#post_details {
    display: none;
}

#new-card-post, #edit-card-post {
    display: none;
    width: 100%;
}

#done {
    margin: auto;
    margin-top: 1em;
    width: 100%;
}

.error {
    color: red;
    font-style: italic;
    display: block;
    margin-top: 10px;
}

.price, .quantity {
    margin-right: .5em;
    margin-left: .5em;
    font-weight: bold;
}

.name a {
    color: black;
    cursor: pointer;
}

.next {
    margin-bottom: 20px;
    border: none;
    outline: none;
    color: white;
    background-color: #38A700;
    font-weight: 600;
    width: 100px;
    border-radius: 10px;
    padding: 5px;
}