/* #profile-picture img {
  width: 30%;
  display: inline-block;
  vertical-align: top;
}

#name {
  display: inline-block;
} */

body {
  background-color: #f2f2f2;
  font-family: "RobotoDraft", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

#img-goes-here {
  border-radius: 40%;
  display: block;
  margin: auto;
  width: 50%;
}

#post-title {
  text-align: center;
  margin-top: 10%;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h5 {
  margin: 0px;
  font-size: 1.4em;
  font-weight: 700;
}

p {
  font-size: 12px;
}

.center {
  margin-top: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Start of User Card */

.center-user {
  margin-top: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* End Non-Essential  */

.property-card-user {
  background-color: #5fd543;
  height: 18em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  /* -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1); */
  border-radius: 16px;
  overflow: hidden;
  -webkit-box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}
/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */

/* Top Half of card, image. */

.property-image-user {
  height: 10em;
  width: 100%;
  position: Absolute;
  top: 0px;
  /* -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1); */
}

/* Bottom Card Section */

.property-description-user {
  background-color: #fafafc;
  height: 8em;
  width: 100%;
  position: absolute;
  bottom: 0em;
  /* -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1); */
  padding: 0.5em 1em;
  text-align: center;
}



/* Review Pop Up */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.review_card_container {
  width: 80%;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  background-color: rgb(2, 6, 250); /* Fallback color */
}

#review-cards {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 80%;
  height: 80%;
}

#review_cards button.close {
  cursor: pointer;
  position: absolute;
  right: 13%;
  background-color: white;
  border: none;
  font-size: 2em;
}

