/* #profile-picture img {
  width: 30%;
  display: inline-block;
  vertical-align: top;
}

#name {
  display: inline-block;
} */

body {
  background-color: #f2f2f2;
  font-family: "RobotoDraft", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

#edit {
  float: right;
  margin-right: 4%;
}



#content_section {
  margin-bottom: 1em;
}






* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h5 {
  margin: 0px;
  font-size: 1.4em;
  font-weight: 700;
}

p {
  font-size: 12px;
}

.center {
  margin-top: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Start of User Card */

.center-user {
  margin-top: 5%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/* End Non-Essential  */


/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */

/* Top Half of card, image. */

.image-user {
  position: relative;
  overflow: hidden;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px;
  border-radius: 40%;
}

#img-goes-here {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* Bottom Card Section */

.description-user {
  margin-top: 5%;
  width: 100%;
  position: relative;
  padding: 0.5em 1em;
  text-align: center;
}

#log_out {
  margin-top: 10px;
  background-color: rgb(167, 51, 51);
  border-radius: 50px;
  cursor: pointer;
  color: white;
  font-size: 14px;
  width: 30%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  border: none;
  padding: 7px 0px;
  font-size: large;
  font-weight: 700;
  margin-bottom: 30%;
}


#log_out a {
  color: white;
  text-decoration: none;
}

#feed_search {
  margin-top: 2%;
  width: 90%;
  border-radius:10px;
  border-width: 0.3em;
  border-color:#ccc;
}

#search:before {
  font-family: 'FontAwesome';
  color:black;
  position: relative;
  content: "\f002";
}

#post-title-h5 {
  text-align: center;
  justify-content: center;
  font-size: 16pt;
  text-align: center;
  margin-top: 1em;
  font-weight: bold;
  text-shadow: 4px 4px #ccc;
}

#post-title {
  margin-top: 18%;
}

#name-title {
  font-size: 20pt;
  text-align: center;
  font-weight: bold;
  text-shadow: 4px 4px #ccc;
}

#bio {
  margin-top: 5%;
  font-size: 16pt;
  font-weight: bold;
}