/* #profile-picture img {
  width: 30%;
  display: inline-block;
  vertical-align: top;
}

#name {
  display: inline-block;
} */

body {
  background-color: #f2f2f2;
  font-family: "RobotoDraft", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

#content_section {
  margin-bottom: 1em;
}

#img-goes-here {
  border-radius: 40%;
  display: block;
  margin: auto;
  width: 50%;
}

#post-title {
  text-align: center;
  margin-top: 10%;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h5 {
  margin: 0px;
  font-size: 1.4em;
  font-weight: 700;
}

p {
  font-size: 12px;
}

.center {
  margin-top: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Start of User Card */

.center-user {
  margin-top: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* End Non-Essential  */

.property-card-user {
  background-color: #5fd543;
  height: 18em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  /* -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1); */
  border-radius: 16px;
  overflow: hidden;
  -webkit-box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}
/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */

/* Top Half of card, image. */

.property-image-user {
  height: 10em;
  width: 100%;
  position: Absolute;
  top: 0px;
  /* -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1); */
}

/* Bottom Card Section */

.property-description-user {
  background-color: #fafafc;
  height: 8em;
  width: 100%;
  position: absolute;
  bottom: 0em;
  /* -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1); */
  padding: 0.5em 1em;
  text-align: center;
}

#add_image, #log_out {
  margin-top: 10px;
  background-color: rgb(167, 51, 51);
  border-radius: 50px;
  cursor: pointer;
  color: white;
  font-size: 14px;
  width: 100%;
  outline: none;
  border: none;
  padding: 7px 0px;
  font-size: large;
  font-weight: 700;
  margin-bottom: 30%;
}

#add_image {
  margin-bottom: 0;
  background-color: rgb(41, 41, 201);
}

#log_out a {
  color: white;
  text-decoration: none;
}

#feed_search {
  width: 100%;
  border-radius: 5px;
  margin-top: 5px;
  outline: none;
}

